@use '../../../../styles/variables' as vars;

header {
  border-bottom: 1px solid vars.$border-gray !important;
}

.active-link {
  color: vars.$primary-color !important;
}

.drawer-panel {
  transition: transform vars.$transition-duration ease-in-out;
  transform: translateX(100%);

  &.drawer-open {
    transform: translateX(0);
  }
}

.active {
  color: vars.$primary-color;
}

.profile-active-link > button {
  padding-bottom: 2px;
  background-color: vars.$light-gray;
  border: 2px solid vars.$primary-color;

  mat-icon {
    color: vars.$primary-color;
  }
}
