<main>
  <section class="flex flex-col items-center justify-center min-h-[70vh] gap-8 px-4">

    <!-- Logo -->
    <img
      src="assets/logo_p6.png"
      alt="Logo MDD"
      class="w-[clamp(300px,50vw,600px)] h-auto"
    />

    <!-- Buttons -->
    <div class="flex flex-wrap justify-center gap-x-20 gap-y-8">
      <button
        mat-stroked-button
        color="primary"
        class="w-52"
        routerLink="/login"
      >
        Se connecter
      </button>

      <button
        mat-stroked-button
        color="primary"
        class="w-52"
        routerLink="/register"
      >
        S'inscrire
      </button>
    </div>

  </section>
</main>
