<!-- Form -->
<form [formGroup]="postCreateForm"
      (ngSubmit)="onCreate()"
      class="w-full flex flex-col gap-4"
>

  <!-- Subject -->
  <mat-form-field appearance="outline">
    <mat-select formControlName="subjectId" placeholder="Sélectionner un thème">
      @for (subject of subjects$ | async; track subject.id) {
        <mat-option [value]="subject.id">
          {{ subject.name }}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>

  <!-- Title -->
  <mat-form-field appearance="outline">
    <input matInput type="text" formControlName="title" placeholder="Titre de l'article"/>
    @if (content && content.hasError('required')) {
      <mat-error>
        Le titre est requis
      </mat-error>
    }
  </mat-form-field>

  <!-- Content -->
  <mat-form-field appearance="outline">
    <textarea matInput formControlName="content" rows="6" placeholder="Contenu de l'article"></textarea>
    @if (content && content.hasError('minlength')) {
      <mat-error>
        Le contenu doit contenir au moins 10 caractères
      </mat-error>
    }
    @if (content && content.hasError('maxlength')) {
      <mat-error>
        Le contenu ne peut pas dépasser 2000 caractères
      </mat-error>
    }
    @if (content && content.hasError('required')) {
      <mat-error>
        Le contenu est requis
      </mat-error>
    }
  </mat-form-field>

  <button
    mat-raised-button
    class="mt-8 w-auto self-center"
    color="primary"
    type="submit"
    [disabled]="postCreateForm.invalid || isLoading"
  >
    {{ loadingMessage }}
  </button>

</form>
